:root {
    --orange: #B35900;
    --odpadlo: rgba(194, 14, 26, 0.55);
    --grey: #6c757d;
    --lightgrey: #cccccc;
    --bila: white;
    --pozadi: #EEF5F8;

    --radius: 5px;
}

.rowsth, thead tr th {
    border-top-left-radius: var(--radius);
    background-color: var(--grey);
}
thead tr th{
    height: 100%;
    border-top-right-radius: var(--radius);
}

.rowsth{
    /* rotate: -90deg; */
    /* transform: rotate(-90deg); */
    /* height: 100%; */
    display: flex;
    align-items: center;
    /* flex-wrap: nowrap; */
    border-bottom-left-radius: var(--radius);
    height: 100%;
}
tbody p{
    transform: rotate(-90deg);
    width: 54px;
}
span{
    
    color: var(--lightgrey);
}

tbody tr th{
    height: 100px;
    /* transform: rotate(-90deg); */
}

td,th {
    width: 2rem;
    text-align: center;
    /* border: 3rem solid transparent; */
}

td {
    
    background-image: linear-gradient(152deg, #FFFFFF 21%, #EEF5F8 100%);
    box-shadow: 1px 1px 3px 0px rgba(67, 83, 89, 0.65);
    color: var(--orange);
    padding-inline: 5px;
    /* border: 1rem solid var(--pozadi); */
    
}

th {
    color: var(--bila);
    font-weight: 200;
    font-size: 14px;
}



table {
    background-color: var(--pozadi);
    font-family: sans-serif;
    /* border-collapse: collapse; */
    border-spacing: .3rem;
}

.empty {
    background-color: transparent;
    box-shadow: none;
    background-image: none;
}

.odpadlo {
    background-color: var(--odpadlo);
    box-shadow: 1px 1px 3px 0px rgba(67, 83, 89, 0.65);
}

.cjl{
    color: black;
}

thead p{
    font-size: 20px;
}

.time{
    color: var(--lightgrey);
    font-size: 12px;
}